* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: peachpuff;
  }

  body {
  background-image: ;
  background-repeat: repeat-x;}

  h1 {
  background-color: beige;
  border: black;
  padding: 12px;
  text-align: center;
  }

  p {
  text-align: center;
  }

  table {
  border: 1px black solid;
  padding: 5px;
  border-spacing: 3px;
  border-radius: 2px;
  }

  td {
  border: 1px black solid;
  padding: 5px;
  border-spacing: 3px black solid;
  }
