* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: peachpuff;
}

h1 {
  background-color: white;
  border: black;
  padding: 12px;
  text-align: center;
}

p {text-align: center;
}

table, td {
  border: 1px black solid;
  padding: 5px;
  border-spacing: 3px;
}
