* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: peachpuff;
  }



h1 {
  background-color: beige;
  border: black;
  padding: 12px;
  
  }

body {
    background-image: url("images/skin2.PNG");}



p {
  text-align: center;
  }



 main {
    text-align: center;

  }


  #salmonCookiesTable {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: palevioletred;
  text-decoration: purple;



}

table {
  border: 1px black solid;
  padding: 5px;
  border-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  }

 td {
  border: 1px black solid;
  padding:10px;
  border-spacing: 15px black solid;
  border-radius: 30px;
  }
